@font-face {
    font-family: 'poppinsregular';
    src: url('../font/poppins-regular-webfont.woff2') format('woff2'), url('../font/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}